<h1>Edit Subreddit!</h1>

<form action="<%=sub_url(@sub.id)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>
  <label for="title">title:</label>
  <input type="text" name="subs[title]" id="title" value="<%= @sub.title %>">
  <br>

  <label for="description">description:</label>
  <input type="text" name="subs[description]" id="description" value="<%= @sub.description %>">
  <br>

  <input type="Submit" value="Edit Sub">
</form>
